:root {
  --cor-01: #2ba600;
  --cor-02: #ffffff;
  --cor-03: #ff0000;
  --cor-04: #9699a6;
  --cor-05: #333333;
  --cor-06: #000000;
}

.cor-01 {
  color: #2ba600;
}

.cor-02 {
  color: #ffffff;
}

.cor-03 {
  color: #ff0000;
}

.cor-04 {
  color: #9699a6;
}

.cor-05 {
  color: #333333;
}

.cor-06 {
  color: #000000;
}