@import url("./cores.css");
@import url("./tipografia.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;

}
img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* reset */

.header-bg {
  background: url("../img/banner-bg.webp") no-repeat center top;
  background-size: cover;
  min-height: 500px;
}

.header-color {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: RGBA(0, 0, 0, 0.8);
  min-height: 500px;
  position: relative;
}

.header-color::before {
  content: "";
  display: inline-block;
  background: url("../img/decorativo/planta.svg") no-repeat;
  width: 84px;
  height: 173px;
  position: absolute;
  bottom: -84px;
  left: 0;
}

/* header */

.introducao-container {
  padding: 80px 20px 0 20px;
}

.introducao {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}

.introducao-descricao {
  display: grid;
  grid-template-columns: 1fr 600px;
  padding-top: 80px;
  gap: 20px;
}

.introducao-lista {
  display: grid;
  place-self: center;
  gap: 10px;
}

.introducao-lista ul {
  padding-left: 20px;
}

.introducao-lista li::before {
  content: "✔";
  display: inline-block;
}

.introducao-capa {
  display: grid;
}

.introducao-capa img {
  width: 100%;
  height: 100%;
}

/* introdução */

.promocao-container {
  padding-top: 80px;
}

.promocao-bg {
  background: url("../img/pizza02.webp") no-repeat center top;
  background-size: cover;
  min-height: 500px;
}

.promocao-color {
  display: grid;
  padding: 80px;
  background-color: RGBA(0, 0, 0, 0.8);
  min-height: 500px;
  position: relative;
  gap: 40px;
}

.promocao-color::before {
  content: "";
  display: inline-block;
  background: url("../img/decorativo/folha.svg") no-repeat;
  width: 73px;
  height: 127px;
  position: absolute;
  top: -60px;
  right: 0;
}

.promocao-color h2 {
  text-align: center;
}

.promocao-pizza {
  display: grid;
  grid-template-columns: 550px 1fr;
  align-items: center;
}

.promocao-pizza img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promocao-descricao {
  display: grid;
  gap: 10px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-right: 2px solid var(--cor-01);
}

/* promoção */

.cardapio-container {
  display: grid;
  padding: 80px 20px 0 20px;
  gap: 60px;
}

.cardapio-introducao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-right: 40px;
  padding-left: 40px;
  position: relative;
  text-align: center;
}

.cardapio-introducao::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("../img/decorativo/pimenta.svg");
  width: 96px;
  height: 152px;
  top: -20px;
  left: -20px;
}

.cardapio-descricao {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#cardapioEspecialidades ul {
  display: flex;
  gap: 10px;
}

#cardapioEspecialidades a {
  display: inline-block;
  border: 1px solid var(--cor-04);
  padding: 10px 20px;
  cursor: pointer;
}

.cardapio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: flex-start;
}

.pizza {
  display: none;
}

.mostrar {
  display: grid;
}

.cardapio-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px 0;
  gap: 10px;
}

#preco {
  font-weight: 600;
}

#ingredientes {
  grid-column: 1 / -1;
}

#cardapioEspecialidades a:hover {
  background-color: var(--cor-01);
  color: var(--cor-02);
}

#cardapioEspecialidades a.ativo {
  background-color: var(--cor-03);
  color: var(--cor-02);
}

/* cardápio */

.footer {
  display: grid;
  background-color: var(--cor-06);
  place-content: center;
  margin-top: 80px;
  text-align: center;
  gap: 10px;
  position: relative;
  height: 500px;
  padding: 20px;
}

.footer::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 133px;
  background: url("../img/decorativo/tomate.svg");
  top: -70px;
  right: 140px;
}

/* footer */

@media (max-width: 1100px) {
  .introducao-descricao {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 20px;
  }
  .introducao-capa img {
    height: 300px;
    object-fit: cover;
  }
  .introducao-lista {
    text-align: center;
  }
  .introducao-capa {
    grid-row: 1;
  }
  .promocao-pizza {
    grid-template-columns: 1fr;
  }
  .promocao-pizza img {
    height: 300px;
  }
  .promocao-descricao {
    border: none;
  }
  .promocao-descricao h3 {
    text-align: center;
  }
  .promocao-descricao p {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .header-color h1 {
    font-size: 5.5rem;
  }
  .introducao h2 {
    font-size: 3.8rem;
  }
  .footer h1 {
    font-size: 5rem;
  }
}
@media (max-width: 700px) {
  .header-color h1 {
    font-size: 4.9rem;
  }
  .introducao h2 {
    font-size: 3.5rem;
  }
  #cardapioEspecialidades ul {
    flex-direction: column;
  }
  .cardapio {
    grid-template-columns: 1fr;
  }
  .footer h1 {
    font-size: 4rem;
  }
}
@media (max-width: 600px) {
  .header-color h1 {
    font-size: 4rem;
    text-align: center;
  }
  .footer h1 {
    font-size: 3.5rem;
  }
}
